<launch>

	<node pkg="my_px4ctrl" type="offbctrl_node" name="my_px4ctrl" output="screen">
        	<!-- <remap from="~odom" to="/vicon_imu_ekf_odom" /> -->
			
			<remap from="~odom" to="/mavros/local_position/odom" />

		<remap from="~cmd" to="/position_cmd" />

        <rosparam command="load" file="$(find my_px4ctrl)/config/ctrl_param_fpv_xiemian.yaml" />
	</node>
	<node pkg="my_px4ctrl" type="keyboard.py" name="keyboard"  />
 
</launch>
